<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">{{ actionType }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="onActionTypeUpdate($event)">
    <ion-segment-button checked value="login">Login</ion-segment-button>
    <ion-segment-button value="register">Register</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <form (ngSubmit)="onSubmit(formContent)" #formContent="ngForm">
          <ion-list>
            <ion-item *ngIf="actionType === 'register'">
              <ion-label position="floating">First Name</ion-label>
              <ion-input ngModel type="text" name="firstname"></ion-input>
            </ion-item>
            <ion-item *ngIf="actionType === 'register'">
              <ion-label position="floating">Surname</ion-label>
              <ion-input ngModel type="text" name="surname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input ngModel type="email" name="email" required="true" #emailInputRef="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailInputRef.valid && emailInputRef.touched" lines="none">
              <ion-label color="danger">Please enter a valid email adress</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input ngModel type="password" name="password" required="true" minlength="6" #passwordInputRef="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordInputRef.valid && passwordInputRef.touched" lines="none">
                <ion-label color="danger">Must contains more than 6 characters</ion-label>
              </ion-item>
          </ion-list>
          <ion-button expand="block" type="submit" class="ion-text-capitalize" [disabled]="!formContent.valid">{{ actionType }}</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>