// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ff1f65;
  --ion-color-primary-rgb: 255,31,101;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #e01b59;
  --ion-color-primary-tint: #ff3574;

  --ion-color-secondary: #ffb3cb;
  --ion-color-secondary-rgb: 255,179,203;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e09eb3;
  --ion-color-secondary-tint: #ffbbd0;

  --ion-color-tertiary: #b30059;
  --ion-color-tertiary-rgb: 179,0,89;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #9e004e;
  --ion-color-tertiary-tint: #bb1a6a;

  --ion-color-success: #ff80bf;
  --ion-color-success-rgb: 255,128,191;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #e071a8;
  --ion-color-success-tint: #ff8dc5;

  --ion-color-warning: #ffff1f;
  --ion-color-warning-rgb: 255,255,31;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0e01b;
  --ion-color-warning-tint: #ffff35;

  --ion-color-danger: #ff1f1f;
  --ion-color-danger-rgb: 255,31,31;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e01b1b;
  --ion-color-danger-tint: #ff3535;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-border-color: var(--ion-color-primary-shade);
  --ion-toolbar-color: var(--ion-color-primary-contrast);

}

// iOS icon's color in toolbar bug fix
ion-toolbar {
  ion-button,
  ion-back-button,
  ion-menu-button,
  .sc-ion-back-button-ios-h {
    --color: white;
  }
}

// .ios {

// }

// .md {

// }

// ion-button {
//   --background: blue;
// }
