<ion-header>
  <ion-toolbar>
    <ion-title>New Booking</ion-title>
    <ion-buttons slot="primary">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <form (ngSubmit)="onBookPlace()" #formContent="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input ngModel type="text" name="first-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input ngModel type="text" name="last-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Numbero of Guests</ion-label>
            <ion-select [ngModel]="'2'" type="text" name="guests-number" required>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime 
            [ngModel]="startDate"
            name="date-from"
            display-format="MMM DD YYYY" 
            picker-format="YY MMM DD"
            [min]="selectedPlace.availableFrom.toISOString()"
            [max]="selectedPlace.availableUntil.toISOString()"
            required
            #fromDateInputRef="ngModel"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
            <ion-item>
              <ion-label position="floating">Until</ion-label>
              <ion-datetime 
              [ngModel]="endDate"
              name="date-until"
              display-format="MMM DD YYYY" 
              picker-format="YY MMM DD"
              [min]="fromDateInputRef.value"
              [max]="selectedPlace.availableUntil.toISOString()"
              required
              ></ion-datetime>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button [disabled]="!formContent.valid || !datesValid()" color="primary" expand="block" type="submit">Book Place</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>