<ion-item detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2 color="primary">{{ offer.title }}</h2>
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ offer.availableFrom | date }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" color="primary" class="space-left"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ offer.availableUntil | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>