<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="isLoading" text-center>
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading" no-padding>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center padding>
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" *ngIf="isBookable" text-center>
        <ion-button color="primary" (click)="onBookPlace()">Book Place</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
